<div class="toolbar" role="banner">
    <img
      width="100"
      alt="INSA Logo"
      src="./assets/favicon.png"/>

    <span>PWEB 2021</span>
    <!-- 
    <mat-horizontal-stepper linear>
      <mat-step label="Étape 1" [editable]="false"></mat-step>
      <mat-step label="Étape 2" [editable]="false"></mat-step>
      <mat-step label="Étape 3" [editable]="false"></mat-step>
      <mat-step label="Script 3" [editable]="false" color="accent"></mat-step> => affichage en vert
    </mat-horizontal-stepper>
    -->

</div>

