<div class="content" role="main">
    
  <section>
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" (click)="lanceScript()">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
        <span>Lancer le script</span>
      </a>
    </div>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" (click)="clear()">
        <svg class="material-icons" viewBox="0 0 20 20">
          <path fill="none" d="M17.206,5.45l0.271-0.27l-4.275-4.274l-0.27,0.269V0.9H3.263c-0.314,0-0.569,0.255-0.569,0.569v17.062
            c0,0.314,0.255,0.568,0.569,0.568h13.649c0.313,0,0.569-0.254,0.569-0.568V5.45H17.206z M12.932,2.302L16.08,5.45h-3.148V2.302z
             M16.344,17.394c0,0.314-0.254,0.569-0.568,0.569H4.4c-0.314,0-0.568-0.255-0.568-0.569V2.606c0-0.314,0.254-0.568,0.568-0.568
            h7.394v4.55h4.55V17.394z"></path>
        </svg>
        <span>Nettoyer le terminal</span>
      </a>
    </div>
    </section>

  
  
    <div class="terminal">
      <ng-terminal #term></ng-terminal>
    </div>
  
</div>

<aside class="tree">
  <h3>/pr-noe/crawlers</h3><br>
  <mat-list>
    <mat-list-item *ngFor="let script of lesScripts">
      <mat-icon mat-list-icon id="{{script}}">note</mat-icon>
      <a (click)="selectScript(script)"><div mat-line>{{script}}</div></a>
    </mat-list-item>
  </mat-list>
</aside>



